<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Household App in Vanilla JS</title>
</head>
<body>

  <form action="/" method="POST">
    <h2>Haushaltsapp in Vanilla JS</h2>
    <h4>Startbetrag</h4>
    <label for="Artikel">
      <input type="text" placeholder="Artikel" name="artikel" required>
    </label>
    <label for="Preis">
      <input type="number" placeholder="Preis" name="preis" required>
    </label>
    <button type="submit">Hinzufügen</button>
    <!-- <input type="button" value=" Alles löschen" name="delete"> -->
  </form>

  <!-- <form action="/" method="DELETE">
    <button id="deleteButton" type="submit">Löschen</button>
  </form> -->

  <div id="eingabeAnzeige">
    <%= eingabeAnzeige%>
  </div>
  
</body>
</html>