<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Haushaltsapp in Vanilla JavaScript</title>
</head>
<body>

  <form action="/" method="POST">
    <h2>Haushaltsapp in Vanilla JavaScript</h2>
    <h4>Startbetrag</h4>
    <label for="Artikel">
      <input type="text" placeholder="Artikel" name="artikel" required>
    </label>
    <label for="Preis">
      <input type="number" placeholder="Preis" name="preis" required>
    </label>
    <button type="submit">Hinzufügen</button>
  </form>
  <form action="/" method="DELETE">
    <button type="submit" name="delete" value="Alles löschen" />
  </form>



  <div id="eingabeAnzeige">
    <ul>
      <li><%= eingabeAnzeige%></li>
    </ul>
  </div>
  
</body>
</html>